@font-face {
  font-family: "Lato-BoldItalic";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf"); }
@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato/Lato-Italic.ttf"); }
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf"); }
@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf"); }
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf"); }
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }
.top-block {
  padding-top: 160px;
  padding-bottom: 220px; }
  .top-block .top-block_child:hover .top-block_child-text-block-name {
    color: #e74c3c;
    transition: 0.3s all;
    cursor: pointer; }
  .top-block .top-block_child:hover .top-block_child-image-block {
    transform: rotate(45deg);
    transition: 0.3s all;
    border: 1px solid #e74c3c;
    cursor: pointer; }
    .top-block .top-block_child:hover .top-block_child-image-block img {
      transform: rotate(-45deg); }
  .top-block .top-block_child .top-block_child-image-block {
    display: flex;
    width: 73px;
    height: 73px;
    border: 1px solid #e5e5e5;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
  .top-block .top-block_child-text-block {
    margin-top: 25px;
    display: flex;
    flex-direction: column; }
    .top-block .top-block_child-text-block .top-block_child-text-block-border {
      width: 41px;
      height: 1px;
      background: #747474;
      margin: 0 auto;
      margin-top: 13px;
      margin-bottom: 15px; }
    .top-block .top-block_child-text-block .top-block_child-text-block-name {
      font-family: "OpenSans-SemiBold";
      font-size: 18px;
      text-transform: uppercase;
      color: #6a6a6a;
      display: flex;
      justify-content: center;
      letter-spacing: 1px; }
    .top-block .top-block_child-text-block .top-block_child-text-block-desc {
      font-family: "SourceSansPro-Light";
      font-size: 12px;
      color: #999999;
      text-align: center;
      letter-spacing: 1px; }

.recent-works .fix-row {
  margin: 0; }
.recent-works .recent-works_name {
  font-family: "SourceSansPro-Bold";
  color: #6a6a6a;
  font-size: 36px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 0; }
.recent-works .recent-works_desc {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }
.recent-works .recent-works_separate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px; }
  .recent-works .recent-works_separate .recent-works_separate-line {
    width: 80px;
    height: 1px;
    background: #999999; }
  .recent-works .recent-works_separate .recent-works_separate-circle {
    margin-left: 14px;
    margin-right: 14px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #e74c3c; }
.recent-works .recent-works-main .recent-works_child {
  padding: 0;
  position: relative;
  overflow: hidden; }
  .recent-works .recent-works-main .recent-works_child:hover img {
    transition: 0.4s all;
    transform: scale(1.1); }
  .recent-works .recent-works-main .recent-works_child:hover .recent-works_child-hover {
    transition: 0.4s all;
    opacity: 1;
    cursor: pointer; }
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hover {
    opacity: 0; }
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e74c3c;
    top: 0;
    opacity: 0.8; }
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden {
    position: absolute;
    padding: 50px;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 347px;
    display: flex;
    flex-direction: column; }
    .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden .recent-works_child-hidden-border {
      width: 44px;
      height: 4px;
      background: #fff; }
    .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden .recent-works_child-hidden-name {
      font-family: "SourceSansPro-SemiBold";
      color: #fff;
      font-size: 24px;
      display: flex;
      margin-top: 20px;
      margin-bottom: 10px;
      letter-spacing: 1px; }
    .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden .recent-works_child-hidden-desc {
      font-family: "OpenSans-Regular";
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px; }
  .recent-works .recent-works-main .recent-works_child img {
    max-width: 100%;
    width: 100%;
    height: 100%; }
.recent-works .recent-works-main .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px; }
  .recent-works .recent-works-main .nav .nav-sep {
    font-size: 12px;
    color: #999999;
    margin-top: -1px; }
  .recent-works .recent-works-main .nav li a {
    background: none;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #999999;
    text-transform: uppercase; }
  .recent-works .recent-works-main .nav li a.active {
    background: none;
    font-family: "OpenSans-Regular";
    font-weight: bold;
    color: #e74c3c; }

.case-study {
  padding-top: 140px;
  padding-bottom: 145px;
  background: #f4f5f9; }
  .case-study .recent-works_name {
    font-family: "SourceSansPro-Bold";
    color: #6a6a6a;
    font-size: 36px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 0; }
  .case-study .recent-works_desc {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
  .case-study .recent-works_separate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px; }
    .case-study .recent-works_separate .recent-works_separate-line {
      width: 80px;
      height: 1px;
      background: #999999; }
    .case-study .recent-works_separate .recent-works_separate-circle {
      margin-left: 14px;
      margin-right: 14px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #e74c3c; }
  .case-study .case-study-main {
    display: flex;
    position: relative;
    margin-top: 50px; }
    .case-study .case-study-main .case-study_image {
      position: absolute;
      right: 0; }
    .case-study .case-study-main .case-study_gallery {
      padding: 80px 58px 50px 58px;
      background: #fff;
      width: 625px;
      margin-top: 39px;
      z-index: 999; }
      .case-study .case-study-main .case-study_gallery .owl-dots {
        margin-top: 45px; }
        .case-study .case-study-main .case-study_gallery .owl-dots .owl-dot:focus {
          outline: none; }
        .case-study .case-study-main .case-study_gallery .owl-dots .owl-dot.active span {
          background: #e74c3c; }
        .case-study .case-study-main .case-study_gallery .owl-dots .owl-dot:hover span {
          background: #e74c3c; }
        .case-study .case-study-main .case-study_gallery .owl-dots .owl-dot span {
          background: #f4f5f9; }
      .case-study .case-study-main .case-study_gallery .case-study_gallery-image {
        display: flex;
        width: 100px;
        height: 100px;
        background: #e74c3c;
        transform: rotate(45deg);
        align-items: center;
        margin-left: 20px;
        border-radius: 5px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px; }
        .case-study .case-study-main .case-study_gallery .case-study_gallery-image img {
          width: auto;
          transform: rotate(-45deg); }
      .case-study .case-study-main .case-study_gallery .case-study_gallery-name {
        font-family: "OpenSans-SemiBold";
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: flex;
        margin-top: 70px;
        margin-bottom: 25px;
        justify-content: center; }
      .case-study .case-study-main .case-study_gallery .case-study_gallery-border {
        background: #888888;
        width: 41px;
        height: 1px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 25px; }
      .case-study .case-study-main .case-study_gallery .case-study_gallery-text {
        font-family: "SourceSansPro-Light";
        font-size: 14px;
        letter-spacing: 1px;
        display: flex;
        margin-bottom: 45px;
        text-align: center;
        color: #999999; }
      .case-study .case-study-main .case-study_gallery .case-study_gallery-button {
        font-family: "OpenSans-SemiBold";
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        border: none;
        border-radius: 3px;
        display: flex;
        margin: 0 auto;
        padding: 15px 35px 15px 35px;
        background: #e74c3c;
        letter-spacing: 1px; }
        .case-study .case-study-main .case-study_gallery .case-study_gallery-button:hover {
          cursor: pointer; }

.stats-block {
  height: 510px;
  background-image: url("../images/background.jpg"); }
  .stats-block .container {
    display: flex;
    height: 100%; }
  .stats-block .stats-block_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; }
    .stats-block .stats-block_child .stats-block_child-img {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .stats-block .stats-block_child .stats-block_child-num {
      font-family: "SourceSansPro-Bold";
      font-size: 30px;
      color: #fff;
      letter-spacing: 2px;
      margin-top: 39px; }
    .stats-block .stats-block_child .stats-block_child-text {
      font-family: "SourceSansPro-Regular";
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px; }

.modal-3 .name {
  font-size: 24px;
  text-align: center;
  font-family: "SourceSansPro-Regular";
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.modal {
  font-family: "SourceSansPro-Regular"; }
  .modal .btn-success {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    float: right; }

/**************MEDIA***************/
@media (max-width: 575.98px) {
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden {
    padding-top: 70%;
    padding-bottom: 10%; }

  .case-study .case-study-main .case-study_gallery {
    width: 100%;
    margin-top: 15px;
    padding: 30px 15px 30px 15px; }

  .stats-block {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .stats-block .container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px; }
      .stats-block .container .stats-block_child {
        width: 100%;
        padding-top: 80px; }

  .top-block .top-block_child {
    padding-top: 50px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .case-study .case-study-main .case-study_image img {
    max-width: 100%; }
  .case-study .case-study-main .case-study_gallery {
    width: 100%;
    margin-top: 15px;
    padding: 30px 15px 30px 15px; }

  .stats-block {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .stats-block .container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px; }
      .stats-block .container .stats-block_child {
        width: 100%;
        padding-top: 80px; }

  .top-block .top-block_child {
    padding-top: 50px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden {
    padding-top: 70%;
    padding-bottom: 10%; }

  .top-block .top-block_child {
    padding-top: 50px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden {
    padding: 10px;
    padding-top: 140px; } }
@media (min-width: 1200px) {
  .recent-works .recent-works-main .recent-works_child .recent-works_child-hidden {
    padding-top: 65%;
    padding-bottom: 10%; } }

/*# sourceMappingURL=style.css.map */
