$LatoBoldItalic: 'Lato-BoldItalic';
$LatoItalic: 'Lato-Italic';
$LatoRegular: 'Lato-Regular';
$OpenSansRegular: 'OpenSans-Regular';
$OpenSansSemiBold: 'OpenSans-SemiBold';
$SourceSansProLight: 'SourceSansPro-Light';
$SourceSansProSemiBold: 'SourceSansPro-SemiBold';
$SourceSansProBold: 'SourceSansPro-Bold';
$SourceSansProRegular: 'SourceSansPro-Regular';

$topcolor: #e74c3c;
$topcolorname: #6a6a6a;
$topcolortext: #999999;
$bottomcolor: #f4f5f9;

@font-face {
  font-family: $LatoBoldItalic;
  src: url('../fonts/Lato/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: $LatoItalic;
  src: url('../fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: $LatoRegular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: $OpenSansRegular;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: $OpenSansSemiBold;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: $SourceSansProLight;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: $SourceSansProSemiBold;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: $SourceSansProBold;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: $SourceSansProRegular;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}




.top-block{

  padding-top: 160px;
  padding-bottom: 220px;

  .top-block_child{

    &:hover{

      .top-block_child-text-block-name{
        color: $topcolor;
        transition: 0.3s all;
        cursor: pointer;
      }

      .top-block_child-image-block{

        transform: rotate(45deg);
        transition: 0.3s all;
        border: 1px solid $topcolor;
        cursor: pointer;

        img{
          transform: rotate(-45deg);
        }

      }

    }

      .top-block_child-image-block{
        display: flex;
        width: 73px;
        height: 73px;
        border: 1px solid #e5e5e5;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }

  }

  .top-block_child-text-block{

    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .top-block_child-text-block-border{

      width: 41px;
      height: 1px;
      background: #747474;
      margin: 0 auto;
      margin-top: 13px;
      margin-bottom: 15px;

    }

    .top-block_child-text-block-name{

      font-family: $OpenSansSemiBold;
      font-size: 18px;
      text-transform: uppercase;
      color: $topcolorname;
      display: flex;
      justify-content: center;
      letter-spacing: 1px;

    }

    .top-block_child-text-block-desc{

      font-family: $SourceSansProLight;
      font-size: 12px;
      color: $topcolortext;
      text-align: center;
      letter-spacing: 1px;

    }

  }

}

.recent-works{

  .fix-row{
    margin: 0;
  }

  .recent-works_name{
      font-family: $SourceSansProBold;
      color: $topcolorname;
    font-size: 36px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;

  }

  .recent-works_desc{
    font-family: $OpenSansRegular;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: $topcolortext;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .recent-works_separate{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;

    .recent-works_separate-line{
      width: 80px;
      height: 1px;
      background: $topcolortext;
    }

    .recent-works_separate-circle{
        margin-left: 14px;
      margin-right: 14px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $topcolor;


    }

  }


  .recent-works-main{

    .recent-works_child{


      &:hover{


        img{

          transition: 0.4s all;
          transform: scale(1.1);

        }

        .recent-works_child-hover{


          transition: 0.4s all;
          opacity: 1;
          cursor: pointer;

        }

      }

      .recent-works_child-hover{

        opacity: 0;

      }

      .recent-works_child-hidden-bg{

        position: absolute;
        height: 100%;
        width: 100%;
        background: $topcolor;
        top: 0;
        opacity: 0.8;

      }

      .recent-works_child-hidden{

        position: absolute;
        padding: 50px;
        top:0;
        height: 100%;
        width: 100%;
        padding-top: 347px;
        display: flex;
        flex-direction: column;


        .recent-works_child-hidden-border{
          width: 44px;
          height: 4px;
          background: #fff;
        }

        .recent-works_child-hidden-name{

          font-family: $SourceSansProSemiBold;
          color: #fff;
          font-size: 24px;
          display: flex;
          margin-top: 20px;
          margin-bottom: 10px;
          letter-spacing: 1px;

        }

        .recent-works_child-hidden-desc{
          font-family: $OpenSansRegular;
          color: #fff;
          font-size: 14px;
          letter-spacing: 1px;

        }

      }

      padding: 0;
      position: relative;
      overflow: hidden;

      img{
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

    }

    .nav{

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 40px;

      .nav-sep{
        font-size: 12px;
        color: $topcolortext;
        margin-top: -1px;

      }

      li{

        a{
          background: none;
          font-family: $OpenSansRegular;
          font-size: 14px;
          color: $topcolortext;
          text-transform: uppercase;
        }

        a.active{
          background: none;
          font-family: $OpenSansRegular;
          font-weight: bold;
          color: $topcolor;
        }


      }

    }

  }

}

.case-study{

  padding-top: 140px;
  padding-bottom: 145px;
  background: #f4f5f9;

  .recent-works_name{
    font-family: $SourceSansProBold;
    color: $topcolorname;
    font-size: 36px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;

  }

  .recent-works_desc{
    font-family: $OpenSansRegular;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: $topcolortext;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .recent-works_separate{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;

    .recent-works_separate-line{
      width: 80px;
      height: 1px;
      background: $topcolortext;
    }

    .recent-works_separate-circle{
      margin-left: 14px;
      margin-right: 14px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $topcolor;


    }

  }


  .case-study-main{

    display: flex;
    position: relative;
    margin-top: 50px;



    .case-study_image{

    position: absolute;
    right: 0;

  }

    .case-study_gallery{

      padding: 80px 58px 50px 58px;
      background: #fff;
      width: 625px;
      margin-top: 39px;
      z-index: 999;

      .owl-dots{
          margin-top: 45px;

        .owl-dot:focus{
          outline: none;
        }

        .owl-dot.active span{

          background: #e74c3c;

        }

        .owl-dot:hover span{

          background: #e74c3c;

        }

        .owl-dot span{
          background: #f4f5f9;
        }

      }

      .case-study_gallery-image{

        display: flex;
        width: 100px;
        height: 100px;
        background: #e74c3c;
        transform: rotate(45deg);
        align-items: center;
        margin-left: 20px;
        border-radius: 5px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;

        img{
          width: auto;
          transform: rotate(-45deg);

        }

      }


      .case-study_gallery-name{
          font-family: $OpenSansSemiBold;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          display: flex;
          margin-top: 70px;
          margin-bottom: 25px;
        justify-content: center;
      }

      .case-study_gallery-border{
        background: #888888;
        width: 41px;
        height: 1px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 25px;
      }

      .case-study_gallery-text{
          font-family: $SourceSansProLight;
          font-size: 14px;
          letter-spacing: 1px;
        display: flex;
        margin-bottom: 45px;
        text-align: center;
        color: #999999;
      }

      .case-study_gallery-button{
        font-family: $OpenSansSemiBold;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        border: none;
        border-radius: 3px;
        display: flex;
        margin: 0 auto;
        padding: 15px 35px 15px 35px;
        background: #e74c3c;
        letter-spacing: 1px;

        &:hover{
          cursor: pointer;
        }
      }

    }


  }



}

.stats-block{

  height: 510px;
  background-image: url("../images/background.jpg");


  .container{
    display: flex;
    height: 100%;
  }

  .stats-block_child{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;

      .stats-block_child-img{

        width: 112px;
        height: 112px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img{

        }

      }

      .stats-block_child-num{
        font-family: $SourceSansProBold;
        font-size: 30px;
        color: #fff;
        letter-spacing: 2px;
        margin-top: 39px;
      }

      .stats-block_child-text{
          font-family: $SourceSansProRegular;
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
      }

  }

}


.modal-3{

  .name{

    font-size: 24px;
    text-align: center;
    font-family: $SourceSansProRegular;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

  }

}

.modal{

  font-family: $SourceSansProRegular;

  .btn-success{

    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    float: right;

  }

}


/**************MEDIA***************/


// Экстрамалые девайсы («портретные телефоны», < 576px)
@media (max-width: 575.98px) {

  .recent-works{

    .recent-works-main{

      .recent-works_child{

        .recent-works_child-hidden{

          padding-top: 70%;
          padding-bottom: 10%;
        }

      }

    }

  }

  .case-study{

    .case-study-main{

      .case-study_gallery{

        width: 100%;
        margin-top: 15px;
        padding: 30px 15px 30px 15px;

      }

    }

  }

  .stats-block {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{

      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;

      .stats-block_child{
        width: 100%;
        padding-top: 80px;
      }

    }

  }

  .top-block{

    .top-block_child{

      padding-top: 50px;

    }

  }

}

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 767.98px) {

  .case-study{

    .case-study-main{

      .case-study_image{

        img{
          max-width: 100%;
        }

      }

      .case-study_gallery{

        width: 100%;
        margin-top: 15px;
        padding: 30px 15px 30px 15px;

      }

    }

  }

  .stats-block {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{

      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;

      .stats-block_child{
        width: 100%;
        padding-top: 80px;
      }

    }

  }

  .top-block{

    .top-block_child{

      padding-top: 50px;

    }

  }

}

// Средние девайсы («таблетки», >= 768px)
@media (min-width: 768px) and (max-width: 991.98px) {

  .recent-works{

    .recent-works-main{

      .recent-works_child{

        .recent-works_child-hidden{

          padding-top: 70%;
          padding-bottom: 10%;
        }

      }

    }

  }

  .top-block{

    .top-block_child{

      padding-top: 50px;

    }

  }

}

// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px) {

  .recent-works{

    .recent-works-main{

      .recent-works_child{

        .recent-works_child-hidden{

          padding: 10px;
          padding-top: 140px;
        }

      }

    }

  }

}

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) {

  .recent-works{

    .recent-works-main{

      .recent-works_child{

        .recent-works_child-hidden{
          padding-top: 65%;
          padding-bottom: 10%;
        }

      }

    }

  }

}