<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>TEST SABADASH</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


</head>
<body>


<div class="top-block">

    <div class="container">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-3 top-block_child">

                <div class="top-block_child-image-block">
                    <img src="images/1.png" alt="" class="">
                </div>

                <div class="top-block_child-text-block">

                    <span class="top-block_child-text-block-name">
                        Sleek design
                    </span>
                    
                    <span class="top-block_child-text-block-border"></span>

                    <span class="top-block_child-text-block-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                        Lorem Ipsum has been the industry.
                    </span>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 top-block_child">

                <div class="top-block_child-image-block">
                    <img src="images/2.png" alt="" class="">
                </div>

                <div class="top-block_child-text-block">

                    <span class="top-block_child-text-block-name">
                      Clean code
                    </span>

                    <span class="top-block_child-text-block-border"></span>

                    <span class="top-block_child-text-block-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                        Lorem Ipsum has been the industry.
                    </span>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 top-block_child">

                <div class="top-block_child-image-block">
                    <img src="images/3.png" alt="" class="">
                </div>

                <div class="top-block_child-text-block">

                    <span class="top-block_child-text-block-name">
                       Creative ideas
                    </span>

                    <span class="top-block_child-text-block-border"></span>

                    <span class="top-block_child-text-block-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                        Lorem Ipsum has been the industry.
                    </span>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 top-block_child">

                <div class="top-block_child-image-block">
                    <img src="images/4.png" alt="" class="">
                </div>

                <div class="top-block_child-text-block">

                    <span class="top-block_child-text-block-name">
                        Free support
                    </span>

                    <span class="top-block_child-text-block-border"></span>

                    <span class="top-block_child-text-block-desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                        Lorem Ipsum has been the industry.
                    </span>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="recent-works">

    <h1 class="recent-works_name">RECENT WORKS</h1>
    <span class="recent-works_desc">It has survived not only five centuries, but also the leap scrambled it to make a type.</span>


    <div class="recent-works_separate">

        <span class="recent-works_separate-line"></span>
        <span class="recent-works_separate-circle"></span>
        <span class="recent-works_separate-line"></span>
    </div>


    <div class="recent-works-main">

        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#all" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#print" role="tab" aria-controls="pills-profile" aria-selected="false">PRINT DESIGN</a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#animation" role="tab" aria-controls="pills-contact" aria-selected="false">ANIMATION</a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#art" role="tab" aria-controls="pills-contact" aria-selected="false">ART</a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#webdesign" role="tab" aria-controls="pills-contact" aria-selected="false">WEB DESIGN </a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#photo" role="tab" aria-controls="pills-contact" aria-selected="false">PHOTOGRAPHY</a>
            </li>

            <span class="nav-sep">/</span>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#video" role="tab" aria-controls="pills-contact" aria-selected="false">VIDEO</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                    <div class="recent-works_child-hidden-border"></div>

                                    <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                    <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="print" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="animation" role="tabpanel" aria-labelledby="pills-contact-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="art" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="webdesign" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="pills-contact-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="pills-contact-tab">

                <div class="row fix-row">

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-1.png" alt="" class="">


                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-2.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-3.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-4.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-5.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-6.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-7.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 recent-works_child">
                        <img src="images/port-8.png" alt="" class="">

                        <div class="recent-works_child-hover">

                            <div class="recent-works_child-hidden-bg"></div>

                            <div class="recent-works_child-hidden">

                                <div class="recent-works_child-hidden-border"></div>

                                <span class="recent-works_child-hidden-name">T-SHIRT DESIGN</span>

                                <span class="recent-works_child-hidden-desc">art / t-shirt</span>

                            </div>


                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>

</div>

<div class="case-study">

    <h1 class="recent-works_name">CASE STUDY</h1>
    <span class="recent-works_desc">It has survived not only five centuries, but also the leap scrambled it to make a type.</span>


    <div class="recent-works_separate">

        <span class="recent-works_separate-line"></span>
        <span class="recent-works_separate-circle"></span>
        <span class="recent-works_separate-line"></span>
    </div>


    <div class="container case-study-main">

       <div class="case-study_gallery">

           <div class="owl-carousel owl-theme">

               <div class="item">

                    <div class="case-study_gallery-image">

                        <img src="images/white-lamp.png" alt="">
                        
                    </div>
                   
                   <span class="case-study_gallery-name">ACCUMULATE CREATIVE IDEAS</span>

                   <div class="case-study_gallery-border"></div>

                   <span class="case-study_gallery-text">

                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                       Printing and typelorem Ipsum has been the setting let.

                   </span>

                   <button type="button" class="case-study_gallery-button" data-toggle="modal" data-target="#exampleModal">Read more</button>

               </div>

               <div class="item">

                   <div class="case-study_gallery-image">

                       <img src="images/white-lamp.png" alt="">

                   </div>

                   <span class="case-study_gallery-name">ACCUMULATE CREATIVE IDEAS</span>

                   <div class="case-study_gallery-border"></div>

                   <span class="case-study_gallery-text">

                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                       Printing and typelorem Ipsum has been the setting let.

                   </span>

                   <button type="button" class="case-study_gallery-button" data-toggle="modal" data-target="#exampleModal">Read more</button>

               </div>

               <div class="item">

                   <div class="case-study_gallery-image">

                       <img src="images/white-lamp.png" alt="">

                   </div>

                   <span class="case-study_gallery-name">ACCUMULATE CREATIVE IDEAS</span>

                   <div class="case-study_gallery-border"></div>

                   <span class="case-study_gallery-text">

                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                       Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                       Printing and typelorem Ipsum has been the setting let.

                   </span>

                   <button type="button" class="case-study_gallery-button" data-toggle="modal" data-target="#exampleModal">Read more</button>

               </div>

           </div>

       </div>

       <div class="case-study_image">

           <img src="images/gallery.png" alt="" class="">

       </div>

    </div>


</div>

<div class="stats-block">

    <div class="container">

        <div class="stats-block_child">
            
            <div class="stats-block_child-img">
                <img src="images/forma5.png" alt="" class="">
            </div>

            <span class="stats-block_child-num">3891</span>

            <span class="stats-block_child-text">User Favourites</span>

        </div>

        <div class="stats-block_child">

            <div class="stats-block_child-img">
                <img src="images/forma4.png" alt="" class="">
            </div>

            <span class="stats-block_child-num">281K</span>

            <span class="stats-block_child-text">Posts Last 24 Hours</span>

        </div>

        <div class="stats-block_child">

            <div class="stats-block_child-img">
                <img src="images/forma3.png" alt="" class="">
            </div>

            <span class="stats-block_child-num">618</span>

            <span class="stats-block_child-text">Total Posts</span>

        </div>

        <div class="stats-block_child">

            <div class="stats-block_child-img">
                <img src="images/forma5.png" alt="" class="">
            </div>

            <span class="stats-block_child-num">178</span>

            <span class="stats-block_child-text">Campaigns</span>

        </div>

        <div class="stats-block_child">

            <div class="stats-block_child-img">
                <img src="images/forma5.png" alt="" class="">
            </div>

            <span class="stats-block_child-num">285</span>

            <span class="stats-block_child-text">Amazing Features</span>

        </div>

    </div>

</div>

<div id="result_form"></div>



<div class="modal fade callback-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Форма обратной связи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form class="form" action="controller/controller.php" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Введите ммя" required />
                    </div>

                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="tel" class="form-control phone" id="phone" name="phone" placeholder="+380(00)000-00-00" required />
                    </div>

                    <input id="uploadImage" type="file" name="image" />

                    <input class="btn btn-success" type="submit" value="Отправить">

                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal modal-3 fade callback-modal" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

              <span class="name">Спасибо! Скоро мы свяжемся с вами!</span>

            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script src="js/app.js"></script>
<script src="js/forms.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>